@model FlowerShop.Web.ViewModels.UploadOneFile
@using FlowerShop.DataAccess.Models
@{
    AppUser appUser = ViewData["appuser"] as AppUser;
}


<h1 class="text-center">Upload ảnh cho: <span class="text-primary">@appUser.FullName</span></h1>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <form method="post" enctype="multipart/form-data" class="p-4 border rounded bg-light shadow-sm">
                <div class="form-group">
                    <label asp-for="@Model.FileUpload" class="form-label font-weight-bold">Chọn file upload</label>
                    <input asp-for="@Model.FileUpload" class="form-control-file" />
                    <span asp-validation-for="@Model.FileUpload" class="text-danger"></span>
                </div>

                <div class="text-center mt-3">
                    <button class="btn btn-primary" asp-area="Admin" asp-controller="ProductItem" asp-action="UploadPhoto" asp-route-id="@appUser.Id">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
