@model IEnumerable<FlowerShop.Web.ViewModels.ProductViewModel>
@using Newtonsoft.Json;
@using FlowerShop.Common.Helpers;
@{
    ViewData["Title"] = "Danh sách sản phẩm bán";
}

<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackagingId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @{
                        string[] listImg = item.Images != null
                        ? JsonConvert.DeserializeObject<string[]>(item.Images)
                        : new string[] { "no_img.png" };

                        var firstImg = listImg[0];
                    }
                    <img src="@Url.Content("~/images/products/" + firstImg)" alt="Product Image" style="width: 70px; height: 70px; object-fit: cover;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Packaging.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-area="Admin" asp-controller="Product" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a> |
                    <a asp-action="Delete" asp-area="Admin" asp-controller="Product" asp-route-id="@item.Id"><i class="fa-solid fa-trash" style="color:red;"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
