@model IEnumerable<FlowerShop.DataAccess.Models.Product>
@using Newtonsoft.Json;
@using FlowerShop.Common.Helpers;
@{
    ViewBag.Title = ViewBag.Category?.Name ?? "Danh mục";
}

@* <h1>@ViewBag.Category?.Name</h1> *@

@{
    string parentCategoryName = "";

    // Determine the parent category name based on ParentCategoryId
    switch (@ViewBag.Category?.ParentCategoryId)
    {
        case 1:
            parentCategoryName = "CHỦ ĐỀ";
            break;
        case 2:
            parentCategoryName = "ĐỐI TƯỢNG";
            break;
        case 3:
            parentCategoryName = "KIỂU DÁNG";
            break;
        case 4:
            parentCategoryName = "HOA TƯƠI";
            break;
        case 5:
            parentCategoryName = "MÀU SẮC";
            break;
        case 6:
            parentCategoryName = "BỘ SƯU TẬP";
            break;
        case 7:
            parentCategoryName = "QUÀ TẶNG KÈM";
            break;
        default:
            parentCategoryName = "Unknown Category";
            break;
    }
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">@ViewBag.Category?.Name</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">@parentCategoryName</a></li>
        <li class="breadcrumb-item active text-white">@ViewBag.Category?.Name</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Hoa Yêu Thương</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <div class="input-group w-100 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            <label for="fruits">Sắp xếp giá:</label>
                            <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                                <option value="volvo">Chưa sắp xếp</option>
                                <option value="saab">Tăng dần</option>
                                <option value="opel">Giảm dần</option>
                                
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            
                            @* <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Price</h4>
                                    <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                    <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                                </div>
                            </div> *@
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Cách đóng gói</h4>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
                                        <label for="Categories-1"> Bó</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
                                        <label for="Categories-2"> Giỏ</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
                                        <label for="Categories-3"> Bình</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-4" name="Categories-1" value="Beverages">
                                        <label for="Categories-4"> Hộp</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-5" name="Categories-1" value="Beverages">
                                        <label for="Categories-5"> Lãng</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-6" name="Categories-1" value="Beverages">
                                        <label for="Categories-5"> Hộp Gỗ</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-7" name="Categories-1" value="Beverages">
                                        <label for="Categories-5"> Giỏ Mây Đan</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-8" name="Categories-1" value="Beverages">
                                        <label for="Categories-5"> Hộp Nhung</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <h4 class="mb-3">Featured products</h4>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rounded me-4" style="width: 100px; height: 100px;">
                                        <img src="customer/img/featur-1.jpg" class="img-fluid rounded" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-2">Big Banana</h6>
                                        <div class="d-flex mb-2">
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <h5 class="fw-bold me-2">2.99 $</h5>
                                            <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rounded me-4" style="width: 100px; height: 100px;">
                                        <img src="customer/img/featur-2.jpg" class="img-fluid rounded" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-2">Big Banana</h6>
                                        <div class="d-flex mb-2">
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <h5 class="fw-bold me-2">2.99 $</h5>
                                            <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rounded me-4" style="width: 100px; height: 100px;">
                                        <img src="customer/img/featur-3.jpg" class="img-fluid rounded" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-2">Big Banana</h6>
                                        <div class="d-flex mb-2">
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <h5 class="fw-bold me-2">2.99 $</h5>
                                            <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center my-4">
                                    <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew More</a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="/customer/img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                    <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <h3 class="text-secondary fw-bold">Hoa <br> Yêu <br> Thương</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            <div class="row">
                                @foreach (var product in Model)
                                {
                                    <!-- Kiểm tra và lấy ảnh sản phẩm -->
                                    string[] listImgInProduct = product.Images != null
                                    ? JsonConvert.DeserializeObject<string[]>(product.Images)
                                    : new string[] { "no_img.png" };
                                    var firstImg = listImgInProduct[0];

                                    <!-- Kiểm tra và lấy giá sản phẩm từ ProductPrice -->
                                    var productPrices = product.ProductPrices?.OrderBy(p => p.Priority).ToList();
                                    var priceDefault = productPrices?.Where(p => p.StartDate == null && p.EndDate == null).FirstOrDefault()?.Price ?? 0;
                                    var priceSale = productPrices?.FirstOrDefault()?.Price ?? 0;
                                    var flag = priceDefault > priceSale;

                                    <!-- Kiểm tra và lấy danh mục sản phẩm từ ProductCategories -->
                                    var productCategory = product.ProductCategories?.FirstOrDefault(pc => !pc.IsDelete)?.Category?.Name;

                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <div class="rounded position-relative product-item">
                                            <div class="product-img">
                                                @if (firstImg.Contains("http"))
                                                {
                                                    <img src="@firstImg" alt="ảnh sản phẩm" class="img-fluid w-100 rounded-top product-img-zoom" />
                                                }
                                                else
                                                {
                                                    <img src="@Url.Content("~/images/products/" + firstImg)" alt="ảnh sản phẩm" class="img-fluid w-100 rounded-top product-img-zoom" />
                                                }
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">
                                                @ViewBag.Category?.Name <!-- Hiển thị tên danh mục của sản phẩm -->
                                            </div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4>@product.Title</h4>
                                                <p>@product.Description</p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">
                                                        @if (flag)
                                                        {
                                                            <span class="text-decoration-line-through">@Converter.ConvertToVietnameseDong(priceDefault)</span> <!-- Hiển thị giá cũ nếu có sale -->
                                                        }
                                                        <span class="price-current">@Converter.ConvertToVietnameseDong(priceSale)</span> <!-- Hiển thị giá hiện tại -->
                                                    </p>
                                                    <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            
                            <div class="col-12">
                                <div class="pagination d-flex justify-content-center mt-5">
                                    <a href="#" class="rounded">&laquo;</a>
                                    <a href="#" class="active rounded">1</a>
                                    <a href="#" class="rounded">2</a>
                                    <a href="#" class="rounded">3</a>
                                    <a href="#" class="rounded">4</a>
                                    <a href="#" class="rounded">5</a>
                                    <a href="#" class="rounded">6</a>
                                    <a href="#" class="rounded">&raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
<!-- Thêm CSS -->
<style>
    .product-img {
        position: relative;
        width: 100%;
        height: 260px; /* Cố định chiều cao */
        overflow: hidden; /* Ẩn phần ảnh vượt ra ngoài */
        border: 1px solid #681c1c; /* Viền cho ảnh */
        border-radius: 10px; /* Viền bo tròn */
        transition: box-shadow 0.3s ease; /* Thêm hiệu ứng shadow cho ảnh */
    }

        .product-img img {
            object-fit: cover; /* Giữ tỷ lệ ảnh */
            width: 90%; /* Đảm bảo ảnh luôn đầy khung */
            height: 100%;
            transition: transform 0.3s ease; /* Thêm hiệu ứng zoom */
        }

        .product-img:hover img {
            transform: scale(1.1); /* Phóng to ảnh khi hover */
        }

    .product-item {
        transition: box-shadow 0.3s ease; /* Hiệu ứng shadow cho toàn bộ item */
    }

        .product-item:hover {
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Làm bóng dài hơn và mờ hơn */
        }

</style>