@model IEnumerable<FlowerShop.Web.ViewModels.SupplierViewModel>
@using FlowerShop.Common.Helpers;

@{
	ViewData["Title"] = "Danh sách sản phẩm trong kho";
	int stt = 1;
}

<h1>Danh sách các nhà cung cấp</h1>

<table class="table">
	<thead>
		<tr>
			<th style="width: 20px">
				STT
			</th>
			<th style="width: 140px">
				Nhà cung cấp
			</th>
			<th>
				Email
			</th>
			<th style="width: 140px">
				SĐT
			</th>

			<th style="width: 230px">
				Mô tả
			</th>

			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@(stt++)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CompanyName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Phone)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					<a asp-action="Edit" asp-area="Admin" asp-controller="Suppliers" asp-route-id="@item.Id">
						<i class="fa-solid fa-pencil" style="color: #FFCC99; width: 20px; height: 30px"></i>
					</a>|

					<a asp-action="Edit" asp-area="Admin" asp-controller="ProductItem" asp-route-id="@item.Id">
						<i class="fa-solid fa-trash" style="color:red; width: 20px; height: 30px"></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>