@model IEnumerable<FlowerShop.DataAccess.Models.SaleInvoice>

@{
	ViewData["Title"] = "Đang chuẩn bị";
}

<h1>Danh sách đơn hàng đang chuẩn bị</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				Mã đơn hàng
			</th>
			<th>
				Tên khách hàng
			</th>
			<th>
				Ngày tạo hóa đơn
			</th>
			<th>
				Phương thức thanh toán
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr id="hoadon-row-@item.Id">
				<td class="text-center" style="padding-right:60px">
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Customer.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreateDay)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.PaymentMethod.Name)
				</td>
				<td>
					<!-- Nút đang giao hàng -->
					<button id="btnGiaoHang-@item.Id"
							class="btn btn-success btn-sm"
							data-id="@item.Id"
							data-toggle="tooltip"
							style="width: 110px;"
							title="Giao hàng"
							onclick="OrderDeliveryById(@item.Id)">
						<i class="fa-solid fa-motorcycle"></i> Giao hàng
					</button>

					<!-- Khoảng cách giữa các nút -->
					<span style="margin: 0 5px;"></span>
					<!-- Nút hủy hóa đơn -->
					<button onclick="CancelInvoiceById(@item.Id)"
							class="btn btn-danger btn-sm"
							data-toggle="tooltip"
							style="width: 110px;"
							title="Hủy đơn hàng">
						<i class="fa-solid fa-trash"></i> Hủy
					</button>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	const OrderDeliveryById = (id) => {
		showConfirm("Xác nhận chuyển đơn hàng sang trạng thái chuẩn bị giao?", () => {
			const reqData = { id: id };
			fetchPost('/api/admin/quan-li-don-hang/dang-chuan-bi', reqData,
				(response) => {
					if (response.success) {
						// Xóa dòng trong bảng
						const row = document.getElementById('hoadon-row-' + id);
						if (row) {
							row.remove();
						}
						setTimeout(() => {
							showSuccess(response.message);
						}, 500);
					} else {
						showError(response.message);
					}
				},
				() => {
					showError("Có lỗi xảy ra khi kết nối đến máy chủ.");
				}
			);
		});
	};

	// Hàm hủy hóa đơn
	const CancelInvoiceById = (id) => {
		showConfirm("Xác nhận hủy đơn hàng?", () => {
			const reqData = { id: id };

			fetchPost('/api/admin/quan-li-don-hang/huy', reqData,
				(response) => {
					if (response.success) {
						// Xóa dòng trong bảng
						const row = document.getElementById('hoadon-row-' + id);
						if (row) {
							row.remove();
						}
						setTimeout(() => {
							showSuccess(response.message);
						}, 500);
					} else {
						showError(response.message);
					}
				},
				() => {
					showError("Có lỗi xảy ra khi kết nối đến máy chủ.");
				}
			);
		});
	};

</script>