@model IEnumerable<FlowerShop.DataAccess.Models.SupplierInvoice>

@{
	ViewData["Title"] = "Hóa đơn nhập đã hủy";
}
<style>
	tbody tr {
		cursor: pointer;
		/* Thay đổi con trỏ chuột thành kiểu pointer */
	}

	tbody tr:hover {
		background-color: #f0f8ff;
		/* Màu nền nhạt khi lướt qua */
	}
</style>

<h1>Danh sách hóa đơn nhập đã hủy</h1>

<div class="mb-3" style="position: relative; width: 460px;">
	<input type="text" id="searchBox" class="form-control pr-5"
		placeholder="Nhập tên nhà cung cấp hoặc mã đơn hàng để tìm kiếm" oninput="searchOrders()" />
	<i class="fa fa-search"
		style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); color: gray;"></i>
</div>

<table class="table">
	<thead>
		<tr>
			<th style="width:144px">
				Mã đơn hàng
			</th>
			<th>
				Tên nhà cung cấp
			</th>
			<th>
				Ngày khởi tạo
			</th>
			<th>
				Tổng tiền
			</th>
			<th>
				Lý do hủy
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			// Lấy tổng tiền cho từng hóa đơn nhập
			// Lấy tổng tiền từ ViewData theo mã hóa đơn
			float tongTien = 0;
			if (ViewData["InvoiceTotals"] != null && ((Dictionary<int,
			float>)ViewData["InvoiceTotals"]).ContainsKey(item.Id))
			{
				tongTien = ((Dictionary<int, float>)ViewData["InvoiceTotals"])[item.Id];
			}
			<tr id="hoadon-row-@item.Id" ondblclick="ShowOrderDetails(@item.Id)">
				<td class="text-center" style="padding-right:60px">
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Supplier.CompanyName)
				</td>
				<td>
					@item.CreateDay.ToString("dd/MM/yyyy")
				</td>
				<td>
					@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C}", tongTien)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Note)
				</td>
			</tr>
		}
	</tbody>

</table>
@await Html.PartialAsync("_SupplierOrderDetailModal")
<script src="~/admin/js/supplierOrderMoDetailModal.js"></script>

<script>
	//Tìm kiếm
	const searchOrders = () => {
		const query = document.getElementById("searchBox").value.toLowerCase(); // Lấy giá trị tìm kiếm và chuyển thành chữ thường
		const rows = document.querySelectorAll("tbody tr"); // Lấy tất cả các dòng trong bảng

		rows.forEach(row => {
			const orderId = row.querySelector("td:nth-child(1)").innerText.toLowerCase(); // Lấy mã đơn hàng
			const supplierName = row.querySelector("td:nth-child(2)").innerText.toLowerCase(); // Lấy tên

			// Kiểm tra xem mã đơn hàng hoặc tên  có chứa chuỗi tìm kiếm hay không
			if (orderId.includes(query) || supplierName.includes(query)) {
				row.style.display = ""; // Hiển thị dòng
			} else {
				row.style.display = "none"; // Ẩn dòng
			}
		});
	};

</script>