@model IEnumerable<FlowerShop.DataAccess.Models.PaymentMethod>

@{
    ViewData["Title"] = "Quản lí phương thức thanh toán";
}

<h1>Quản lí phương thức thanh toán</h1>

<p>
    <a asp-action="Create">Thêm Phương Thức Thanh Toán</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên
            </th>
            <th>
                Mô tả
            </th>
            <th>
               Giá
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Đã xóa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDelete)
                </td>
                <td>
                    <a asp-area="Admin" asp-controller="PaymentMethod" asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                    <a asp-action="Delete" asp-controller="PaymentMethod" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@* căn trôn k + d *@