@model IEnumerable<FlowerShop.DataAccess.Models.AppUser>
@using FlowerShop.Common.Helpers;
@{
	ViewData["Title"] = "Danh sách khách hàng";
	int stt = 1;
}

<h1>Danh sách khách hàng</h1>
<div class="mb-3" style="position: relative; width: 440px;">
	<input type="text" id="searchBox"
		   class="form-control pr-5"
		   placeholder="Nhập tên khách hàng hoặc số điện thoại để tìm kiếm"
		   oninput="searchOrders()" />
	<i class="fa fa-search" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); color: gray;"></i>
</div>
<table class="table">
	<thead>
		<tr>
			<th style="width: 20px">
				STT
			</th>
			<th style="width: 200px">
				Tên khách hàng
			</th>
			<th>
				Ngày sinh
			</th>
			<th>
				Đã khóa
			</th>
			<th style="width: 140px">
				SĐT
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@(stt++)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BirthDay)
				</td>
				<td class="is-lock" data-is-lock="@item.IsLock">
					@if (item.IsLock)
					{
						<i class="fa-solid fa-lock icon-lock" style="color: red"></i>
					}
					else
					{
						<i class="fa-solid fa-unlock icon-unlock" style="color: green;"></i>
					}
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.PhoneNumber)
				</td>
				<td>
					<a asp-action="Edit" asp-area="Admin" asp-controller="Customer" asp-route-id="@item.Id">
						<i class="fa-solid fa-pencil" style="color: #FFCC99;"></i>
					</a> |

					<!-- Nút khóa -->
					<button onclick="LockCustomerById(@item.Id)" class="bg-transparent" style="border: none;">
						@if (item.IsLock)
						{
							<i class="fa-solid fa-lock" style="color:red;"></i>
						}
						else
						{
							<i class="fa-solid fa-unlock" style="color:green;"></i>
						}
					</button>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	//Lấy id khách hàng được chọn
	const getIsLockValue = (id) => {
		const button = document.querySelector(`button[onclick="LockCustomerById(${id})"]`);
		if (button) {
			const tr = button.closest('tr');
			if (tr) {
				const isLockCell = tr.querySelector('.is-lock');
				if (isLockCell) {
					const hasLockIcon = isLockCell.querySelector('.icon-lock') !== null;
					return hasLockIcon;
				}
			}
		}
		return null; // Trường hợp không tìm thấy
	};

	// Hàm để khóa khách hàng
	const LockCustomerById = (id) => {
		const currentIsLock = getIsLockValue(id);
		if (currentIsLock === true) {
			showError("Tài khoản khách hàng đã bị khóa.");
			return;
		}
		showConfirm("Bạn có muốn khóa khách hàng này không?", () => {
			const reqData = { id: id };

			fetchDelete('/api/admin/quan-li-khach-hang/delete', reqData,
				(response) => {
					// Cập nhật giá trị IsLock
					const iconCell = document.querySelector(`button[onclick="LockCustomerById(${id})"]`)
						.closest('tr')
						.querySelector('.is-lock');
					if (iconCell) {
						iconCell.innerHTML = '<i class="fa-solid fa-lock icon-lock" style ="color:red"></i>';
						iconCell.setAttribute('data-is-lock', 'true');
					}
					// Cập nhật icon của nút khóa
					const lockButton = document.querySelector(`button[onclick="LockCustomerById(${id})"]`);
					if (lockButton) {
						lockButton.innerHTML = '<i class="fa-solid fa-lock icon-lock" style ="color:red"></i>';
					}
					setTimeout(() => {
						showSuccess(response.message);
					}, 500);
				},
				(response) => {
					showError(response.message);
				},
				() => {
					showError("Có lỗi xảy ra khi kết nối đến máy chủ.");
				}
			);
		});
	};

	const searchOrders = () => {
		const query = document.getElementById("searchBox").value.toLowerCase(); // Lấy giá trị tìm kiếm và chuyển thành chữ thường
		const rows = document.querySelectorAll("tbody tr"); // Lấy tất cả các dòng trong bảng

		rows.forEach(row => {
			const sDT = row.querySelector("td:nth-child(5)").innerText.toLowerCase(); // Lấy mã đơn hàng
			const customerName = row.querySelector("td:nth-child(2)").innerText.toLowerCase(); // Lấy tên khách hàng

			// Kiểm tra xem mã đơn hàng hoặc tên khách hàng có chứa chuỗi tìm kiếm hay không
			if (sDT.includes(query) || customerName.includes(query)) {
				row.style.display = ""; // Hiển thị dòng
			} else {
				row.style.display = "none"; // Ẩn dòng
			}
		});
	};
</script>